/* Estilo para el cuerpo del acordeón siempre */
.accordion-body {
  font-size: 17px; /* Tamaño de fuente fijo para el cuerpo del acordeón */
}

/* Estilo para los encabezados del acordeón */
.accordion-header {
  font-size: 19px; /* Tamaño de fuente para el encabezado del acordeón */
}

/* Eliminar el borde, sombra, y cambio de color al hacer clic en el encabezado del acordeón */
.accordion-button  {
  background-color: transparent; /* Fondo transparente */
  color: #000; /* Color del texto del encabezado */
  border: none !important; /* Elimina el borde por defecto */
  box-shadow: none !important; /* Elimina la sombra alrededor del encabezado */
  transition: none; /* Desactiva cualquier transición */
}

/* Mantener el fondo, borde, y sombra transparente cuando el acordeón está expandido */
.accordion-button:not(.collapsed) {
  background-color: transparent !important; /* Fondo transparente cuando está expandido */
  color: #000; /* Color del texto del encabezado */
  box-shadow: none; /* Elimina la sombra alrededor del encabezado */
  border: none; /* Elimina el borde alrededor del encabezado expandido */
  transition: none; /* Desactiva cualquier transición */
}

/* Eliminar el cambio de color al pasar el ratón por encima */
.accordion-button:hover {
  background-color: transparent; /* Fondo transparente al pasar el ratón */
  color: #000; /* Color del texto del encabezado */
  border: none; /* Elimina el borde al pasar el ratón */
  transition: none; /* Desactiva cualquier transición */
}

/* Estilo para el contenedor del acordeón */
.accordion-item {
  margin-bottom: 10px; /* Espacio entre ítems del acordeón */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px; /* Bordes redondeados */
  transition: none; /* Desactiva cualquier transición */
}

/* Eliminar los efectos de transición en el colapso del acordeón */
.accordion-collapse {
  transition: none; /* Desactiva la transición del colapso */
}

/* Eliminar la animación de la flecha al abrir y cerrar */
.accordion-button::after {
  transition: none; /* Desactiva la transición de la flecha */
}
