.custom-fade-carousel {
  max-width: 80%;
  margin: auto;
}

.carousel-component2-container {
  margin-bottom: 50px;
}

.carousel-item-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.carousel-caption-below {
  text-align: center;
  margin-top: 15px;
}

.image-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%; /* Hace la imagen circular */
}

.image-container img {
  width: 100%;
  height: 100%; /* Cambia 'auto' a '100%' para asegurarte de que la imagen se ajuste al contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor completamente sin distorsi칩n */
  border-radius: 50%; /* Hace la imagen circular */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.carousel-caption-below h3, .carousel-caption-below p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* A침ade una sombra suave al texto */
}

.carousel-caption-below {
  text-align: center;
  margin-top: 15px;
  padding: 10px; /* Espacio interior del recuadro */
  border: 2px solid #d4af37; /* Define el grosor y color del borde */
  border-radius: 0px; /* Esquinas redondeadas para el recuadro */
  display: inline-block; /* Hace que el recuadro se ajuste al contenido */
  background-color: #c0c4d8; /* A침ade un fondo blanco semitransparente */
  position: relative; 
  top: 85%; /* Ajusta este valor para posicionar el recuadro debajo de la imagen */
  left: 50%; /* Centra el recuadro horizontalmente */
  transform: translateX(-50%); /* Compensa el 50% de la posici칩n izquierda */
  text-align: center;
}

.carousel-caption-below h3 {
  margin: 10px 0 5px 0;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
}

.carousel-caption-below p {
  margin: 0;
  font-size: 18px;
  color: #444;
  text-align: center;
  font-weight: 600;
}
