.custom-fade-carousel {
    max-width: 80%;
    margin: auto;
    height: 300px; /* Ajusta la altura para mantener la proporción deseada */
  }
  
  /* Agrega un margen inferior al componente CarouselComponent2 */
  .carousel-component2-container {  
    margin-bottom: 230px; /* Ajusta el valor según el espacio necesario */
  }
  
  /* Envuelve el contenido del carrusel para controlar la posición de la leyenda */
  .carousel-item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Estilo para los ítems del carrusel */
  .custom-fade-carousel .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el ítem ocupe toda la altura del carrusel */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
  }
  
  .custom-fade-carousel .carousel-item img {
    height: 100%; /* Ajusta la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    border-radius: 50%; /* Hace la imagen circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra alrededor de la imagen */
  }
  
  /* Estilo para el contenedor de la imagen */
  .image-container {
    width: 400px; /* Ajusta el tamaño del contenedor */
    height: 400px; /* Ajusta el tamaño del contenedor */
    border-radius: 50%; /* Redondea el contenedor para que sea un círculo */
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  
  /* Estilo para las imágenes dentro del contenedor */
  .image-container img {
    width: 100%; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
    height: 100%; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
    object-fit: cover; /* Ajusta la imagen para que cubra el área del contenedor sin distorsionarse */
  }
  
  /* Estilo para la leyenda del carrusel */
  .carousel-caption {
    text-align: center;
    padding: 1rem;
  }
  