.banner {
  background-color: #0a1a2b !important;
  padding-top: 20px;
  padding-bottom: 10px;
}

.banner-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
}

.nav-links .nav-link,
.nav-links .dropdown-toggle {
  margin-right: 20px;
  color: white !important; /* Color de los enlaces con !important */
}

.nav-links .nav-link:hover,
.nav-links .dropdown-toggle:hover {
  color: white !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show .dropdown-toggle:hover{
  flex-direction: row;
  color: #dee2e6;
}

.banner-bot {
  background-color: #0a1a2b !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 70px; /* Ajusta este valor según el tamaño del primer banner */
}
