/* CardSection.module.css */
.cardSectionCard {
  background-color: #e2e5e9 !important;
  padding: 20px;
  border: none !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2) !important; /* Asegúrate de que el box-shadow esté aquí */
  transition: box-shadow 0.3s ease-in-out; /* Añade una transición para un efecto suave */
}

.cardSectionCard:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3) !important; /* Intensifica la sombra al hacer hover */
}

.cardSectionImg {
  width: 150px !important;
  height: 150px !important;
  border-width: 0.1rem !important;
  border-color: #ffffff !important;
  border-radius: 50% !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2) !important; /* Asegúrate de que el box-shadow esté aquí */
  background-color: #e2e5e9 !important;
  padding: 10px !important;
  position: sticky;
}

.cardSectionBody {
  background-color: #e2e5e9 !important;
  padding: 20px;
}

.cardSectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.cardSectionSubtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.cardSectionPhoneNumber {
  font-size: 1.4rem !important;
  font-weight: bold;
  color: #000;
}

.cardSectionGuardiasList {
  list-style: disc;
  padding-left: 20px;
  text-align: left;
}

.cardSectionGuardiasListItem {
  font-size: 1rem;
  margin-bottom: 10px;
}

.cardSectionText {
  font-size: 1rem;
  color: #333;
}

.cardSectionShadowSm {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2) !important; /* Asegúrate de que el box-shadow esté aquí */
}

.cardSectionBg {
  margin-top: 50px !important;
  background-color: #f8f9fa !important;
  padding: 20px 0px !important;
}
