
.custom-carousel {
  padding-top: 1000px;
  width: 100%; /* Asegúrate de que el carrusel ocupe todo el ancho */
}

.carousel-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del carrusel */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
}

