.custom-carousel {
  margin-top: 20px; /* Añade un margen superior más razonable */
  width: 100%; /* Asegúrate de que el carrusel ocupe todo el ancho */
}

.carousel-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del carrusel */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
}

.carousel .carousel-item {
  transition: transform 0.5s ease; /* Suaviza la transición entre slides */
}

.carousel-item img {
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  height: 500px; /* Establece una altura fija si lo deseas */
}
