/* src/components/Footer.css */
.footer {
  width: 100%;
  height: auto; /* Ajusta la altura automáticamente */
  background-color: #242c4f; /* Color de fondo del footer */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  padding: 10px 0; /* Añade un poco de padding para mayor espacio */
}
