body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa; /* Color de fondo gris claro */
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
}

.App {
  flex: 1; /* Se expande para llenar el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
}

footer {
  background-color: #0a1a2b; /* Color de fondo del footer */
  padding: 10px 0;
  text-align: center;
  height: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.carousel-item img {
  height: 400px; /* Ajusta la altura de las imágenes del carrusel */
}
