body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa; /* Color de fondo gris claro */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#top {
  padding-top: 0px;
}
html, body {
  height: 100%;
  margin: 0;
}

.App {
  flex: 1; /* Se expande para llenar el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
  padding-bottom: 60px; /* Ajusta este valor según la altura del footer */
}

.carousel-item img {
  height: 400px; /* Ajusta la altura de las imágenes del carrusel */
}

/* Asegura que el contenedor principal ocupe al menos la altura de la ventana */
.app-container {
  min-height: 100vh; /* 100% de la altura de la ventana */
  display: flex;
  flex-direction: column; /* Dispone los hijos verticalmente */
}

/* Hace que el contenido principal ocupe el espacio disponible */
.main-content {
  flex: 1; /* Flex grow para que el contenido principal crezca y empuje el footer hacia abajo */
}

/* Evita que las reglas generales afecten al footer */
.footer {
  margin: 0; /* Asegúrate de que no haya margen que interfiera */
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 100px 0; /* Aumenta el margen para más espacio */
  font-size: 25px;
}

/* Estilos adicionales para el banner */
body-fixed-banner main {
  padding-top: 100px; /* Ajusta este valor según la altura del banner */
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-top: 1px solid #dee2e6; /* Color y grosor de la línea */
}

.separator::before {
  margin-right: 10px;
}

.separator::after {
  margin-left: 10px;
}

.separator span {
  padding: 0 50px; /* Espacio alrededor del texto */
}

#faq {
  padding-top: 100px; /* Ajusta este valor según la altura del banner */
  margin-top: -100px; /* Ajusta este valor para compensar el padding */
}
